<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.database.Repository.ConsultMapper">

     <insert id="insertConsult" parameterType="java.util.HashMap">
        INSERT INTO consult VALUES (null,#{name},#{hp1},#{hp2},#{hp3},#{schedule},#{memo},sysdate)
    </insert>

</mapper> 