<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.database.mybatis.DBInterface">
    <select id="att" resultType="DTO">
        SELECT a.`no`,employee_no,DAY,department,NAME,rank,start_time,end_time,night FROM attendance a inner join employee b ON  a.employee_no=b.`no` ORDER BY no ASC
    </select>

    <select id="attfind" resultType="DTO">
        SELECT a.`no`,employee_no,DAY,department,NAME,rank,start_time,end_time,night FROM attendance a inner join employee b ON  a.employee_no=b.`no` where date(day) = date(#{day}) and name like CONCAT('%',#{name},'%') and department like CONCAT('%',#{dep},'%') ORDER BY no ASC
    </select>

    <select id="attfind2" resultType="DTO">
        SELECT a.`no`,employee_no,DAY,department,NAME,rank,start_time,end_time,night FROM attendance a inner join employee b ON  a.employee_no=b.`no` where name like CONCAT('%',#{name},'%') and department like CONCAT('%',#{dep},'%') ORDER BY no ASC
    </select>

    <select id="attfind3" resultType="DTO">
        SELECT a.`no`,employee_no,DAY,department,NAME,rank,start_time,end_time,night FROM attendance a inner join employee b ON  a.employee_no=b.`no` where name like CONCAT('%',#{name},'%') and department like CONCAT('%',#{dep},'%') and day BETWEEN #{start} AND #{end} ORDER BY name ASC, day
    </select> 

    <insert id="intest" parameterType="int">
        insert into attendance values (null,#{no},SYSDATE(),SYSDATE(),null,null)
    </insert>

    <select id="datecheck" resultType="DTO" parameterType="java.util.HashMap"> 
        select no from attendance where day=date(now()) and employee_no=#{no} 
    </select>

    <update id="out" parameterType="int">
        update attendance set end_time=SYSDATE() where employee_no=#{no} and date(day) = date(now())
    </update>

</mapper> 